.page-content {
    background-color: #fff;
    overflow-y: hidden;
}

a {
    color: #45c8dc;
}

.layui-m-layershade {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.layui-m-layerchild {
    width: 70% !important;
}

.layui-m-layerchild > h3 {
    background: rgb(29, 170, 240);
    color: #fff;
    margin: 0;
}

.layui-m-layercont {
    text-align: left !important;
    padding: 20px 30px !important;
}

.floating-button {
    background: #45c8dc;
    bottom: 2rem !important;
    z-index: 1500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.floating-button.active-state {
    background: rgb(128, 213, 234);
}

i.icon.icon-plus {
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%2013h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}